:root {
   --main-color: #34b0be;
   --secondary-color: #ff4f6f;
   --alt-color: #060314;
   --background-color: #FFFFFF;
 }

* {
   box-sizing: border-box;
}

body {
   height: 100%; 
   font-family: rubik, sans-serif;
    background-color: rgb(235, 243, 241);
}

.align{
   padding-left: 30px;
   padding-right: 30px;
}

header{
   margin: 20px;
   display: flex;
   justify-content: space-between;
}

.home{
   color: var(--main-color);
}

nav a{
   color: var(--alt-color);
   text-decoration: none;
   padding-left: 40px;
}

@media (max-width: 480px){
   nav a {
      display: none;
   }
}

.cuadrando{
   display: grid;
   grid-template-columns: 50% 50%;
}
@media (min-width: 481px){
   .mobile{
      display: none;   
   }
}

@media (max-width: 480px){
   .cuadrando{
      display: none;
   }
}

@media (max-width: 480px) {
   .mobile{
      text-align: center;
   }
   
}

@media (max-width: 480px){
   div .mobile{
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
   }
}

.one {
   background-image: url("../assets/Vectores/Vector.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
}

.one img{
   position: relative;
   background-repeat: no-repeat;
}

@media (max-width: 480px){
   .one img{
      width: 50%;

   }
}

.hola{
   font-size: 50px;
}

@media (max-width: 480px) {
   .hola{
      font-size: 32px;
   }
}

h1{
   font-size: 150px;
   color: var(--alt-color);
   display: inline;
}

@media (max-width: 480px){
   h1{
      font-size: 50px;
   }
}

.color {
   color: var(--secondary-color);
   padding-top: 30px;
}

.mis-redes{
   display: flex;
   justify-content: space-between;
   width: 60%;
   padding-left: 20px;
}

@media (max-width: 480px) {
   .mis-redes{
      justify-content: space-evenly;
      width: 100%;
   }
}

.circulo{
   border-radius: 100% 100% 100% 100%;
   border-color: var(--main-color);
   border-style: solid;
   border-width: 1px;
}

.button{
   padding-left: 15px;
}

button{
   border-top-right-radius: 30px 30px;
   border-bottom-right-radius: 30px 30px;
   width: 80%;
   height: 80px;
   background-color: var(--secondary-color);
   padding: 15px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@media (max-width: 480px){
   button{
      border-top-right-radius: 20px 20px;
      border-bottom-right-radius: 20px 20px;
      width: 50%;
      height: 50px;
      margin: 0 auto;
   }
}

@media (max-width: 480px){
   article{
      text-align: center;
      margin-left: 3px;
      /* display: flex; */
      /* justify-content: space-around; */
      /* width: 120%; */
   }
}


.fondito{
   background-image: url(../assets/Vectores/Decor.svg);
   width: 200px;
   display: flex;
   justify-content: right;
   border-top: 30px;
}

.ultima-cards{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

@media (max-width: 480px){
   .ultima-cards{
      width: 100%;
       
   }  
 }

article{
   width: 100px;
   text-align: center;

}

.underline{
   width: 100px;
   height: 6px;
   background-color: var(--main-color);
}

.fondo-blanco{
   background-color: var(--background-color);
   height: 100px;
}

.second-cards{
   align-items: baseline;
}

@media (max-width: 480px){
   .underline h2{
      font-size: 20px;
   }
}

.second-cards{
   width: 100%;
   display: flex;
   justify-content: space-around;
   /* text-align: center; */
}

@media (max-width: 480px){
   .second-cards{
   width: 100%;
   flex-direction: column;
   align-items: center;
   }
}

.tree-cards{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

@media (max-width: 480px){
   .tree-cards{
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
}
section{
   display: flex;
   justify-content: space-between;
   grid-template-columns: 50%;
   /* width: 100%; */
}
section img{
   width: 25%;
   align-content: center;
}

