:root {
   --main-color: #34b0be;
   --secondary-color: #ff4f6f;
   --alt-color: #060314;
   --background-color: #FFFFFF;
 }

body {
   /* height: 100vh;  */
   font-family: rubik, sans-serif;
    background-color: rgb(235, 243, 241)
}

h1{
   font-size: 9.375rem;
   color: var(--alt-color)
}

.home{
   color: var(--main-color);
}

nav a{
   color: var(--alt-color);
   text-decoration: none;
   padding-left: 40px;
}

.nav-desktop div img{
   height: 200px;
   padding-bottom: 25px;
}

.nav-desktop {
   display: flex;
   justify-content: space-between;
   padding: 20px 40px 0 40px;  
}


.main{
   display: flex;
   width: 100vw;
   /* background-color: pink; */
}

.foto{
   width: 100%;
   background-image: url("../assets/Vectores/Vector.svg") ;
   background-size: cover;
   /* display: flex; */
}

.info{
   width: 100%;
   padding-left: 20px;
}

.hola{
   font-size: 50px;
}

.color {
   color: var(--secondary-color);
   padding-top: 30px;
}

.mis-redes{
   display: flex;
   justify-content: space-around;
}

button{
   border-top-right-radius: 20px 20px;
   border-bottom-right-radius: 20px 20px;
   width: 60%;
   background-color: var(--secondary-color);
   padding: 15px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.fondito{
   background-image: url(../assets/Vectores/Decor.svg);
   background-repeat: no-repeat ;
   border-top: 30px;
}

.ultima-cards{
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 100px;
   /* justify-content: space-around; */
}

article{
   width: 10%;
   align-content: center;

}

.underline{
   width: 100%;
   height: 6px;
   background-color: var(--main-color);
}

.fondo-blanco{
   background-color: var(--background-color);
   height: 100px;
}

.second-cards{
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.portafolio{
   display: flex;
   width: 100%;
}
section img{
   width: 25%;
   align-content: center;
}